.details {
  background: $colorPrimary;

  .container {
    width: 80%;
    margin: 0 auto;
    color: #fff;

    .similarMovies {
      padding: 2em 0;
      h1 {
        text-transform: uppercase;
        margin-top: 2em;
      }

      .grid {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        margin-top: 1em;
      }
    }

    .movieDetails {
      display: flex;

      padding-top: 5em;
      gap: 1em;

      .poster {
        img {
          min-width: 300px;
        }
      }
      .topDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
          display: flex;
          flex-direction: column;
          gap: 1em;
          h1 {
            text-transform: uppercase;
          }
          p {
            width: 70%;
          }
        }

        li {
          list-style: none;
          margin-left: 0.5em;
          margin-top: 0.5em;
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 1em;
          img {
            width: 5em;
            height: 2em;
          }
          span {
            font-size: 24px;
          }
        }
        .rateThisMovie {
          padding: 1em 0;
          h3 {
            margin: 10px 0 5px 0;
          }
        }
      }
    }
  }
}

//media queries

@media screen and (max-width: 768px) {
  .details {
    .container {
      width: 95%;

      .movieDetails {
        flex-direction: column;

        img {
          max-width: 300px;
          max-height: 500px;
        }
        .topDetails {
          .top {
            display: flex;
            flex-direction: column;
            gap: 1em;

            p {
              width: 100%;
            }
          }
        }
      }
    }
    .similarMovies {
      h1 {
        text-align: center;
      }
      .grid {
        justify-content: center;
        gap: 1em;
      }
    }
  }
}
