/* SCSS HEX */
* {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 1em 2em;
  color: #fff;
  background-color: #a4031fff;
}

.navbar .innerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
}

.navbar .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.navbar .menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.navbar .menu a:hover {
  color: #ee7b30ff;
}

.home {
  background: #a4031fff;
}

.home .container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .container h1 {
  margin: 1em 0;
  color: #ee7b30ff;
}

.home .container .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

.searchBox {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em auto;
}

.searchBox input[type='text'] {
  background: #fff;
  margin: 0 auto;
  outline: none;
  border: none;
  border-radius: 1em;
  padding: 10px;
}

.searchBox .sortButtons p {
  color: #fff;
  margin-bottom: 5px;
}

.searchBox .sortButtons .btnSort {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
}

.searchBox .sortButtons .btnSort:hover {
  color: #ee7b30ff;
  cursor: pointer;
}

.searchBox .sortButtons .btnSort:focus {
  -webkit-box-shadow: 0 0 5px #0f0f0f;
          box-shadow: 0 0 5px #0f0f0f;
  color: #ee7b30ff;
}

.movie-box {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 10px #1b1b1b;
          box-shadow: 1px 1px 10px #1b1b1b;
}

.movie-box .overlay {
  cursor: pointer;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: -1;
}

.movie-box:hover .overlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  position: absolute;
  z-index: 2;
  top: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.movie-box .btnOverlay {
  cursor: pointer;
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 2;
  opacity: 1;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: 5px solid #ee7b30ff;
  padding: 10px 15px;
}

.movie-box .btnOverlay:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.movie-box:hover .btnOverlay {
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

img:hover {
  cursor: pointer;
}

.details {
  background: #02111bff;
}

.details .container {
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.details .container .similarMovies h1 {
  margin-top: 2em;
}

.details .container .similarMovies .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
  margin-top: 1em;
}

.details .container .movieDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5em;
  gap: 1em;
}

.details .container .movieDetails .poster img {
  min-width: 300px;
}

.details .container .movieDetails .topDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details .container .movieDetails .topDetails .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

.details .container .movieDetails .topDetails .top p {
  width: 50%;
}

.details .container .movieDetails .topDetails li {
  list-style: none;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.details .container .movieDetails .topDetails .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.details .container .movieDetails .topDetails .rating img {
  width: 5em;
  height: 2em;
}

.details .container .movieDetails .topDetails .rating span {
  font-size: 24px;
}

.details .container .movieDetails .topDetails .rateThisMovie h3 {
  margin: 1em 0;
}
/*# sourceMappingURL=App.css.map */